.ButtonIcon {
  margin: auto 4px !important;
  padding: 7px !important;

  color: white !important;
  border-radius: 3px !important;
  background-color: #5495c0 !important;

  &:hover {
    background-color: #3a85b6 !important;
  }

  &:active {
    background-color: #2176ad !important;
  }
}
